spring:
  application:
    name: chatbot_rag
  ai:
    bedrock:
      aws:
        region: ${AWS_REGION}
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      converse:
        chat:
          options:
            model: anthropic.claude-3-sonnet-20240229-v1:0
    vectorstore:
      pgvector:
        initialize-schema: true
        remove-existing-vector-store-table: true  # Set to true to clean vector DB on startup
        dimensions: 1536

  datasource:
    url: jdbc:postgresql://localhost:5432/public
    username: postgres
    password: postgres
  autoconfigure:
    exclude:
      - org.springframework.ai.model.bedrock.cohere.autoconfigure.BedrockCohereEmbeddingAutoConfiguration

# Chatbot configuration
chatbot:
  topk: ${CHATBOT_TOPK:3}
  sql:
    batch-size: ${SQL_BATCH_SIZE:20}
  ingest-on-startup: true
